	<div style="margin-left:15px"><h1 ><mat-icon  class="tc-blue-grey-700">accessibility</mat-icon> &nbsp;Lista De Pacientes</h1>
  </div>

 &nbsp;
<button type="button" class="btn btn-success" [routerLink]="['add']" style="margin-top:5px;">&nbsp;Agregar</button>

  
  <section  style="margin-left: 2%" class="row mt-5">
  <table class="table table-hover">
            
      <thead>
        <tr>
          <th scope="col">Rut</th>
          <th scope="col">Nombre Paciente</th>
          <th scope="col">Apellido Paciente</th>
       	  <th scope="col">Teléfono</th>
	        <th scope="col">Dirección</th>
          <th scope="col">Acciones</th>
     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pacientes of pacientes">
         <td>{{pacientes.rutPac}}</td> 
         <td>{{pacientes.nombrePac}}</td> 
           <td>{{pacientes.apellidoPac}}</td> 
         <td>{{pacientes.telefonoPac}}</td> 
		 <td>{{pacientes.direccionPac}}</td> 
         <td>
       <button class="btn btn-secondary" type="button" href="#updatePaciente" data-toggle="modal"  (click)="examenClicked(pacientes)">Editar</button>  
     
        <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
[popoverMessage]="popoverMessage"
placement="left" (confirm)="delete(pacientes)"
(cancel)="cancelClicked = true" > 
 Borrar  </button>
         </td>    
        </tr>
        	<div  *ngIf="pacientes?.length === 0"  layout-align="center">
				<h3> No hay pacientes para mostrar </h3>
			</div>
   
      </tbody>
    </table>
	</section>
     <hr>

 <!-- ****************************Modal***********************-->
<div class="modal fade" id="updatePaciente" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="signinModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Paciente</h5>
        <button type="button" class="close" data-dismiss="modal" #btnClose aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Nombre :<input type="text" class="form-control form-control-sm" [(ngModel)]="selectedPaciente.nombrePac">
Apellido :<input type="text" class="form-control form-control-sm" [(ngModel)]="selectedPaciente.apellidoPac">
Rut :<input type="text" class="form-control form-control-sm" [(ngModel)]="selectedPaciente.rutPac" readonly>
Fecha De Creación:<input type="text" class="form-control form-control-sm" [(ngModel)]="selectedPaciente.release_date" readonly>
Dirección:<input type="text" class="form-control form-control-sm" [(ngModel)]="selectedPaciente.direccionPac">
Teléfono:<input type="text" class="form-control form-control-sm" [(ngModel)]="selectedPaciente.telefonoPac">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="updatePaciente()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#button').button(function(e) { 
    e.preventDefault(); 
    // Coding 
    $('#updatePaciente').modal('toggle'); //or $('#IDModal').modal('hide'); 
    return false; 
}); 
</script>



